body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#output {
  overflow-x: auto;
}

#output-table {
  width: 100%;
  border-collapse: collapse;
}

#output-table th, #output-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

#output-table th {
  background-color: #f0f0f0;
}

#editSection {
  display: none;
}

.hidden {
  display: none;
}

.delete-animation {
  animation: delete-animation 0.5s forwards;
}

@keyframes delete-animation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}